DJANGO_SECRET_KEY=replace-this-with-a-secure-secret-key
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,speedlogger.koltfisher.com,.up.railway.app
DJANGO_CSRF_TRUSTED_ORIGINS=https://speedlogger.koltfisher.com,https://*.up.railway.app
DATABASE_URL=postgres://username:password@host:5432/database_name
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=replace-this-demo-password